{{- $section4 := .Site.Params.section4 }}
{{- $heading := index $section4 "heading" }}
{{- $subheading := index $section4 "subheading" }}
{{- $description := index $section4 "description" }}
{{- $tiles := index $section4 "tiles" }}
{{- $name := index $section4 "name" }}
{{- $subtitle := index $section4 "subtitle" }}

<section class="section is-medium section-secondary">
  <div class="content-wrapper">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 has-text-black"> {{ $heading }} </h2>
        <h3 class="subtitle is-5 has-text-black"> {{ $subheading }} </h3>
        <div class="divider is-centered"></div>
      </div>
      <div class="tabs mt-60 is-desktop">
        {{- range $tiles }}
        <div class="column">
          <article class="media">
            <div class="media-content">
              <div class="content has-text-centered">
                <div>
                  <center>
                    <figure class="image is-96x96" style="border-radius: 100%">
                      <img style="border-radius: 100%" src="https://bulma.io/images/placeholders/96x96.png" alt="Image">
                    </figure>
                    <p>
                      <strong>{{ .name }}</strong><br>
                      <div style="display:flex; justify-content:center; overflow:hidden;">
                          <a target="_blank" style="padding:0; margin-right:0.5em;" href = {{ .url }}>
                            <img class="image is-24x24" src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}">
                          </a>
                          <a target="_blank" style="padding:0;" href = {{ .url2 }}>
                            <img class="image is-24x24" src="{{ printf "/images/illustrations/icons/%s.svg" .icon2 | relURL }}">
                          </a>
                      </div>
                    </p>
                  </center>
                </div>
              </div>
            </div>
          </article>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>
</section>